/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  padding: 10px;
  background-color: #282a36;
  color: #f8f8f2;
  & a, & a:active, & a:hover {
    color: #50fa7b;
  }
  .footer-appendix {
    border-bottom: 1px solid #909194;
  }
  & > div {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .footer .col-md-4 {
    text-align: center;
  }
}
