/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  padding: 10px;
  background-color: #5c616c;
  &, & a, & a:active, & a:hover {
    color: #eff0eb;
  }
}

@media (max-width: 768px) {
  .footer .col-md-4 {
    text-align: center;
  }
}