.panel-flex {
    display: flex;
    align-items: center;
    & > .spacer {
        flex-grow: 1;
    }
}

.select-place {
    height: 50px;
    width: 195px;
    background-color: white;
    border: 1px solid #cacccd;
    text-align: center ;
    box-shadow: none;
}

.box-filters {
    display: flex;
    flex-direction: column;
    & > * {
        margin: 5px auto;
        width: 286px;
        // border: 1px solid red;
    }
}

@media (min-width: 768px) {
    .box-filters {
        flex-direction: row;
        align-content: center;
        justify-content: center;
        & > * {
            margin: auto 5px;
            min-width: 286px;
        }
        margin-bottom: 10px;
    }

    .btn-place {
        margin: 0;
    }
}

.btn-place {
    height: 50px;
}
