.app {
  /* Margin bottom by footer height */
  margin-bottom: 240px;
  margin-top: 80px;
}

@media (max-width: 768px) {
  .app {
    /* Margin bottom by footer height */
    margin-bottom: 460px;
  }
}
