.btn {
    margin: 5px;
}

.travelling-to {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard {
  display: flex;
  flex-direction: column;
}

.stays {
  justify-content: space-around;
}
