.box-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & > form {
    display: flex;
    flex-direction: column;
    padding: 50px;
  }
}

.box-auth {
  display: flex;
  flex-direction: column;
}

@media (min-width: 786px) {
  .box-inner {
    flex-direction: row !important;
  }
  .box-register {
      border-left: 1px solid gainsboro;
  }
  .box-auth {
    padding: 150px;
  }
}

.fa-google {
  padding-right: 10px;
  border-right: 1px solid white;
  margin-right: 10px;
}

input, input:active {
  box-shadow: none !important;
  padding: 5px !important;
  border: 1px solid gainsboro !important;
}

.box-auth {
  .btn {
    margin-left: -0.5px;
  }
}

.modal-body {
  .btn {
    position: relative;
    top: -5px;
  }
  form {
    display: flex;
  }
}
